@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Comfortaa', sans-serif;
    padding: 10px;
    margin: 0;

}

section {

    justify-content: center;
    display: grid;
    place-items: center; 
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0);
    filter: blur(0px);
}