/* * {
    box-sizing: border-box;
    outline: 0.5px solid black !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #fffdd1;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
.all {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.header {
    height: auto;
    display: flex;
    background-color: yellowgreen;
    padding: 10px;
    z-index: 2;
}
.me {
    
    flex-grow: 4;
}
.blogs {
    flex-grow: 1;
}
.portfolio {
    flex-grow: 1;
}
.mouse{
    transform: translateX(50%);
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.landing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hi {
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.lemme {
    transform: translate(10%);
}




.myanmar {
    height: 100vh;
}
.location-wrap {
    transform: translate(0);
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width:50%; height:auto
}
.values {
    transform: translateY(60%);
}



.mylp {
    height: 100vh;
}
.artist {
    height: 50vh;
}
.skills {
    height: 70vh;
}
.aerospace {
    height: 70vh;
}
.foot {
    height: 10vh;
}