* {
    box-sizing: border-box;
    outline: 1px solid red !important;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Display:wght@900&display=swap');

body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-kerning: normal;
    font-weight: 300;
    overflow-x: hidden;
}
p {
    padding: 0;
    margin: 0
}
.all {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.header {
    height: auto;
    display: flex;
    opacity: 1;
    padding: 10px;
    z-index: 3000;
    background-color: pink;
}
.me {
    opacity: 1;
    flex-grow: 4;
}
.blogs {
    opacity: 1;
    flex-grow: 1;
}
.portfolio {
    opacity: 1; 
    flex-grow: 1;
}
.book {
    opacity: 1; 
    flex-grow: 1;
}




.landing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hi {
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.lemme {
    transform: translate(10%);
}
.mouse{
    transform: translateX(40%);
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.myanmar {
    height: 100vh;
}
.location-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height:80vh; 
    width: auto;
}
.values {
    transform: translateY(40%);
}
.texts {
    display: flex;
    flex-direction: ;
}





.alumni {
    height: 103vh;
    background-color: #5d81b3;
}
.liberty {
    height: 102%;
    position: absolute;
    right: 0;
    transform: translate(50%);
    z-index: 2;
}
.mylp-image {
    height: 102%;
    position: absolute;
    right: 0;
    transform: translate(50%);
    z-index: 1;
}
.mylp-overlay {
    height: 102%;
    position: absolute;
    right: 0;
    transform: translate(50%);
    z-index: 3
}
.transition-top {
    height: 10vh;
    background-image: linear-gradient(white, #5d81b3);
}
.alumni-text {
    height: 10vh;
    color: white;
    background-color: #5d81b3;
    text-align: center;
}


.artist {
    height: 50vh;
}
.skills {
    height: 70vh;
}
.aerospace {
    height: 70vh;
}
.foot {
    height: 10vh;
}