* {
    box-sizing: border-box;
    outline: 1px solid red !important;
}

/* reference websites
http://heathershaw.com/
https://stefaniebrueckler.com/
https://buzzworthystudio.com/
https://www.analeovy.com/ */

/* basics */
body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    
    font-family: 'Poiret One', cursive;
    /* overflow-x: hidden; */
}
p, h4 {
    padding: 0;
    margin: 0
}



/* header */
.header {
    width: 100%;
    display: flex;
    text-align: justify;
    justify-content: space-between;
}
.contact-me {
    text-align: right;
}
.about-me {
    text-align: left;
}
.mywork {
    font-family: 'Poiret One', cursive;
    font-size: x-large; 
    padding-top: 2em;
}


/* loading */
span {
    transform: scale(2.5);
}
.hourglass {
    
    animation:hourglass 1s linear infinite;
}
@keyframes hourglass{
    0%{
        transform:rotate(0deg) scale(2.5);
    }
    80%{
        transform:rotate(0deg) scale(2.5);
    }
    100%{
        transform:rotate(180deg) scale(2.5);
    }
}
.name{
    position: absolute;
    font-size: xx-large;
    z-index: 3;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-color: black;
}
.name-child {
    transform: translate(0, 50vh);
}
.loader {
    position: absolute;
    bottom: 20%;
    left: 50%;
}


/* hero */
.landing {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.projects {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.project-child {
    flex-grow: 2;
    font-family: 'Chonburi', cursive;
    max-width: 50vw;
}



.DAY {
    
}
.img {
    z-index: 0;
}
.DAY-img {
    max-width: 50vw;
    transform: translateY(-10%);
    overflow-x: hidden;
}



.foot {
    height: 10vh;
}