* {
    box-sizing: border-box;
    outline: 1px solid red !important;
}

/* reference websites
http://heathershaw.com/
https://stefaniebrueckler.com/
https://buzzworthystudio.com/
https://www.analeovy.com/ */

/* basics */
body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    /* overflow-x: hidden; */
}
p, h4 {
    padding: 0;
    margin: 0
}



/* header */
.header {
    width: 100%;
    display: flex;
    text-align: justify;
    justify-content: space-between;
    padding: 1em
}
.contact-me {
    text-align: right;
}
.about-me {
    text-align: left;
}
.mywork {

    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: x-large; 
    padding-top: 2em;
}


/* loading */
span {
    font-size: medium;
}
.hourglass {
    
    animation:hourglass 0.7s linear infinite;
}
@keyframes hourglass{
    0%{
        transform:rotate(0deg) scale(2.5);
    }
    80%{
        transform:rotate(0deg) scale(2.5);
    }
    100%{
        transform:rotate(180deg) scale(2.5);
    }
}
.name{
    top: 0%;
    position: absolute;
    font-size: xx-large;
    z-index: 3;
    width: 100%;
    height: 130%;
    text-align: center;
    color: white;
    background-color: black;
}
.name-child {
    transform: translate(0, 50vh);
}
.loader {
    position: absolute;
    bottom: 40%;
    left: 50%;
}


/* hero */
.landing {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.projects {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;

    width: auto;
}



.screen {
    width: clamp(100px, 250px,500px);
    aspect-ratio: 14/16;
    border-radius: 1rem;

    overflow: hidden;
}
.screen > .img {
    background-image: url(https://cdn.discordapp.com/attachments/820590048604586044/1161269843966832660/IMG_5020.webp?ex=6537afd2&is=65253ad2&hm=7ae7ee82bf569aaedc2ee44176bc8d5aac472d36b5dbb6de099647fdace47ce7&);
    height: 100%;
    width: 100%;
    background-size: 100%;
    opacity: 1;
}
#DAY-text {
    padding-top: 2rem;
    color: white;
    text-align: center;
    
    font-family: 'Chonburi', serif;
}

.screen:hover .img,.screen {
    transform: scale(1.2);
}





.foot {
    background-color: black;
    color: white;
    display: flex;
}