* {
    box-sizing: border-box;
    outline: 1px solid red !important;
}

/* 
html {
    overflow-x: hidden;
} */

body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
p {
    padding: 0;
    margin: 0
}
h1 {
    ali
}
.myprojects {
    font-family: 'Poiret One', cursive;
    font-size:x-large

}


.header {
    width: 100%;

    text-align: justify;
}

.contact-me {
    position: absolute;
    right: 1em;
    top: 1em;
}
.about-me {
    position: absolute;
    left: 1em;
    top: 1em;
}

.me {
    opacity: 1;
    flex-grow: 4;
}
.blogs {
    opacity: 1;
    flex-grow: 1;
}
.portfolio {
    opacity: 1; 
    flex-grow: 1;
}
.book {
    opacity: 1; 
    flex-grow: 1;
}





.landing {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hi {
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
.lemme {
    transform: translate(10%);
}
.mouse{
    transform: translateX(40%);
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.myanmar {
    height: 100vh;
}
.location-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height:80vh; 
    width: auto;
}
.values {
    transform: translateY(40%);
} 






.alumni {
    height: 90vh;
    background-color: #5d81b3;
}
.liberty {
    height: 90%;
    position: absolute;
    right: 0;
    transform: translate(50%);
    z-index: 2;
}
.mylp-image {
    height: 90%;
    position: absolute;
    right: 0;
    transform: translate(50%);
    z-index: 1;
}
.mylp-overlay {
    height: 90%;
    position: absolute;
    right: 0;
    transform: translate(50%);
    z-index: 3
}
.transition-top {
    height: 10vh;
    background-image: linear-gradient(white, #5d81b3);
}
.alumni-text {
    height: 10vh;
    color: white;
    background-color: #5d81b3;
    text-align: center;
}


.artist {
    height: 50vh;
}
.skills {
    height: 70vh;
}
.aerospace {
    height: 70vh;
}
.foot {
    height: 10vh;
}